name: CI

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  grafonnet_generator:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Generate grafana dashboard.json using grafonnet container
        run: |
          sudo podman run --rm --name run_grafonnet -v "$GITHUB_WORKSPACE"/benchmark_runner/grafana/perf:/app --privileged quay.io/ebattat/run_grafonnet:latest

      - name: Check for changes in dashboard.json
        id: check_changes
        run: |
          # backup dashboard.json
          cp -p $GITHUB_WORKSPACE/benchmark_runner/grafana/perf/dashboard.json $GITHUB_WORKSPACE/benchmark_runner/grafana/perf/dashboard_backup.json
          git diff --quiet $GITHUB_WORKSPACE/benchmark_runner/grafana/perf/dashboard.json || echo "changes=true" >> $GITHUB_OUTPUT

      - name: Update the Grafana dashboard if any changes are detected in dashboard.json
        if: steps.check_changes.outputs.changes == 'true'
        env:
          PERF_GRAFANA_URL: ${{ secrets.PERF_GRAFANA_URL }}
          PERF_GRAFANA_API_KEY: ${{ secrets.PERF_GRAFANA_API_KEY }}
          PERF_GRAFANA_JSON: benchmark_runner/grafana/perf/dashboard.json
        run: |
              python $GITHUB_WORKSPACE/benchmark_runner/grafana/update_grafana_dashboard.py
              # revert dashboard.json after python version change
              cp -p $GITHUB_WORKSPACE/benchmark_runner/grafana/perf/dashboard_backup.json $GITHUB_WORKSPACE/benchmark_runner/grafana/perf/dashboard.json

      - name: Commit dashboard.json if any changes are detected
        if: steps.check_changes.outputs.changes == 'true'
        run: |
          echo ${{ steps.check_changes.outputs.changes }}
          git checkout main
          git config --global user.email ${{ secrets.EMAIL }}
          git config --global user.name  ${{ secrets.USER_NAME }}
          git add $GITHUB_WORKSPACE/benchmark_runner/grafana/perf/dashboard.json
          git commit -m "Update grafana json file"

          # Pull the latest changes from the remote main branch
          git pull origin main

          # Push the changes to the remote main branch
          git push
